<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha384-x5Dk1/PB/Qv4TdTf89+sLmokp0+1/rHALsLgZ3RTH3CUN6Ta0l8sATQ+ayF4Jp8M"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"> <!-- Link to your external CSS file -->

    <title>Employee Dashboard</title>
</head>
<body>

<div class="wrapper">
    <h1 class="text-center mt-4">Employee Dashboard</h1>
    <!-- Add your content for the employee dashboard -->
</div>

</body>
</html>
